
.checkedbox-container{
    align-items: flex-start;
    padding: 0 12px;
}
.checkedbox-wrapper{
    width:100%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
.checkbox-item{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-right: 4px;
}
.checkbox-item-label{
    margin-bottom: 0;
}
.check-all-container{
    width:100%;
    padding-left: 0;
}
.check-all-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-right: 4px;
}
